<%= form_for(@buy_order) do |f| %>
  <% if @buy_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buy_order.errors.count, "error") %> prohibited this buy_order from being saved:</h2>

      <ul>
      <% @buy_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_creacion %><br>
    <%= f.date_select :fecha_creacion %>
  </div>
  <div class="field">
    <%= f.label :canal %><br>
    <%= f.text_field :canal %>
  </div>
  <div class="field">
    <%= f.label :proveedor %><br>
    <%= f.text_field :proveedor %>
  </div>
  <div class="field">
    <%= f.label :cliente %><br>
    <%= f.text_field :cliente %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :cantidad_despachada %><br>
    <%= f.number_field :cantidad_despachada %>
  </div>
  <div class="field">
    <%= f.label :precio_unitario %><br>
    <%= f.number_field :precio_unitario %>
  </div>
  <div class="field">
    <%= f.label :fecha_entrega %><br>
    <%= f.date_select :fecha_entrega %>
  </div>
  <div class="field">
    <%= f.label :fecha_despacho %><br>
    <%= f.date_select :fecha_despacho %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :motivo_rechazo %><br>
    <%= f.text_field :motivo_rechazo %>
  </div>
  <div class="field">
    <%= f.label :motivo_anulacion %><br>
    <%= f.text_field :motivo_anulacion %>
  </div>
  <div class="field">
    <%= f.label :notas %><br>
    <%= f.text_field :notas %>
  </div>
  <div class="field">
    <%= f.label :id_factura %><br>
    <%= f.text_field :id_factura %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
