
					
					
					<div class="row">
						<div class="col-sm-12 animated" style="opacity: 1;">
							
							<div class="grid-blog col-2 no-sidebar animated" style="opacity: 1;">
								<div class="posts isotope" style="position: relative; overflow: hidden; height: 21139px;">
									
									<div class="post format-gallery isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
										
										<div class="post-content">
											
											<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media owl-theme" style="opacity: 1; display: block;">
												
												
											<% if @orden != nil %>
											
											<h2 class="post-title">
												Orden de Compra: <%= @orden.order_id %><br>
											</h2>
											
											
	
	
	Proveedor:
	<%= @orden.proveedor %><br>
	Cliente:
	<%= @orden.cliente %><br>
	SKU:
	<%= @orden.sku %><br>
	Cantidad:
	<%= @orden.cantidad %><br>
	Fecha Entrega:
	<%= @orden.fecha_entrega %><br>
	Fecha Despacho:
	<%= @orden.fecha_despacho %><br>
	Precio:
	<%= @orden.precio_unitario %><br>
	Estado:
	<%= @orden.estado %><br></p>
	<% else %>
	Orden no encontrada
<% end%>
											
											
											
										</div><!-- /.post-content --> 
										
									</div><!-- /.post -->
									
								<% if @orden != nil %>
									
									<div class="post format-standard isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(605px, 0px, 0px);">
										<h2 class="post-title">
											Logs:
										</h2>
										<div class="post-content">
											<% @logs = @orden.log.all.sort_by(&:created_at).reverse  %>
											<% @logs.each do |l| %>
											<div class="post format-image" style="width:80%;">
								                <div class="date-wrapper">
								                  <div class="date">
								                    <span class="day"><%=l.created_at.day%></span>
								                    <span class="month"><%=l.created_at.strftime("%B")[0..2]%>
								</span>
								                  </div>
								                </div>
								                <div class="post-content">
								                 
								                  
								                  <p>
								                    <%= l.message %>
								                    
								                  </p>
								                  
								                </div>
								            </div>
								            <% end %>
											
										</div><!-- /.post-content --> 
										
									</div><!-- /.post -->
									
								<% else %>
									
								<% end%>

									
									
									
									
									
								</div><!-- /.posts -->
							</div><!-- /.grid-blog -->
							
							
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				
