<p id="notice"><%= notice %></p>

<h1>Listing Buy Orders</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha creacion</th>
      <th>Canal</th>
      <th>Proveedor</th>
      <th>Cliente</th>
      <th>Sku</th>
      <th>Cantidad</th>
      <th>Cantidad despachada</th>
      <th>Precio unitario</th>
      <th>Fecha entrega</th>
      <th>Fecha despacho</th>
      <th>Estado</th>
      <th>Motivo rechazo</th>
      <th>Motivo anulacion</th>
      <th>Notas</th>
      <th>Id factura</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @buy_orders.each do |buy_order| %>
      <tr>
        <td><%= buy_order.order_id %></td>
        <td><%= buy_order.created_at %></td>
        <td><%= buy_order.canal %></td>
        <td><%= buy_order.proveedor %></td>
        <td><%= buy_order.cliente %></td>
        <td><%= buy_order.sku %></td>
        <td><%= buy_order.cantidad %></td>
        <td><%= buy_order.cantidad_despachada %></td>
        <td><%= buy_order.precio_unitario %></td>
        <td><%= buy_order.fecha_entrega %></td>
        <td><%= buy_order.fecha_despacho %></td>
        <td><%= buy_order.estado %></td>
        <td><%= buy_order.motivo_rechazo %></td>
        <td><%= buy_order.motivo_anulacion %></td>
        <td><%= buy_order.notas %></td>
        <td><%= buy_order.id_factura %></td>
        <td><%= link_to 'Show', buy_order %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
