<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha creacion:</strong>
  <%= @buy_order.fecha_creacion %>
</p>

<p>
  <strong>Canal:</strong>
  <%= @buy_order.canal %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @buy_order.proveedor %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @buy_order.cliente %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @buy_order.sku %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @buy_order.cantidad %>
</p>

<p>
  <strong>Cantidad despachada:</strong>
  <%= @buy_order.cantidad_despachada %>
</p>

<p>
  <strong>Precio unitario:</strong>
  <%= @buy_order.precio_unitario %>
</p>

<p>
  <strong>Fecha entrega:</strong>
  <%= @buy_order.fecha_entrega %>
</p>

<p>
  <strong>Fecha despacho:</strong>
  <%= @buy_order.fecha_despacho %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @buy_order.estado %>
</p>

<p>
  <strong>Motivo rechazo:</strong>
  <%= @buy_order.motivo_rechazo %>
</p>

<p>
  <strong>Motivo anulacion:</strong>
  <%= @buy_order.motivo_anulacion %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @buy_order.notas %>
</p>

<p>
  <strong>Id factura:</strong>
  <%= @buy_order.id_factura %>
</p>


<%= link_to 'Back', buy_orders_path %>
