<div class="container inner-bottom">
  <div class="row">
    <div class="col-sm-12 portfolio">
      <ul class="items col-3 gap">
        
            <li class="item thumb">
              <figure>
                <div class="icon-overlay icn-link">
                  <a href="#"><span class="icn-more"></span><%= image_tag('rice.jpg') %>
                </div>
                <!-- /.icon-overlay -->
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h2><a href="#">Arroz</a></h2>
                    <div class="post-title" >
                      <form method="get" action="/b2c/comprar">
                        Cantidad<br>
                        <input type="number" name="cantidad" min="1" value="1"><br>
                        Precio [Origen precio: <%=@origenprecio13%>]<br>
                        <input type="number" value="<%=@preciofiltrado13%>"name="precio" min="0" readonly>
                        Código promoción Instagram: [opcional]<br>
                        <input type="string" name="code">
                        Número de su cuenta bancaria<br>
                        <input type="string" name="cuenta">
                        <input type="number" name="sku" value="13" style="visibility:hidden;">
                        <input type="submit" value="Comprar">
                      </form>
                    </div>
                  </div>
                  <!-- /.info -->
                </figcaption>
              </figure>
            </li>

            <li class="item thumb">
              <figure>
                <div class="icon-overlay icn-link">
                  <a href="#"><span class="icn-more"></span><%= image_tag('semola.jpg') %>
                </div>
                <!-- /.icon-overlay -->
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h2><a href="#">Sémola</a></h2>
                    <div class="post-title" >
                      <form method="get" action="/b2c/comprar">
                        Cantidad<br>
                        <input type="number" name="cantidad" min="1" value="1"><br>
                        Precio [Origen precio: <%=@origenprecio19%>]<br>
                        <input type="number" value="<%=@preciofiltrado19%>"name="precio" min="0" readonly>
                        Código promoción Instagram: [opcional]<br>
                        <input type="string" name="code">
                        Número de su cuenta bancaria<br>
                        <input type="string" name="cuenta">
                        <input type="number" name="sku" value="19" style="visibility:hidden;">
                        <input type="submit" value="Comprar">
                      </form>
                    </div>
                  </div>
                  <!-- /.info -->
                </figcaption>
              </figure>
            </li>


            <li class="item thumb">
              <figure>
                <div class="icon-overlay icn-link">
                  <a href="#"><span class="icn-more"></span><%= image_tag('algodon.jpg') %>
                </div>
                <!-- /.icon-overlay -->
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h2><a href="#">Algodón</a></h2>
                    <div class="post-title" >
                      <form method="get" action="/b2c/comprar">
                        Cantidad<br>
                        <input type="number" name="cantidad" min="1" value="1"><br>
                        Precio [Origen precio: <%=@origenprecio21%>]<br>
                        <input type="number" value="<%=@preciofiltrado21%>"name="precio"  min="0" readonly>
                        Código promoción Instagram: [opcional]<br>
                        <input type="string" name="code">
                        Número de su cuenta bancaria<br>
                        <input type="string" name="cuenta">
                        <input type="number" name="sku" value="21" style="visibility:hidden;">
                        <input type="submit" value="Comprar">
                      </form>
                    </div>
                  </div>
                  <!-- /.info -->
                </figcaption>
              </figure>
            </li>
            
            <li class="item thumb">
              <figure>
                <div class="icon-overlay icn-link">
                  <a href="#"><span class="icn-more"></span><%= image_tag('mantequilla.jpg') %>
                </div>
                <!-- /.icon-overlay -->
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h2><a href="#">Mantequilla</a></h2>
                    <div class="post-title" >
                      <form method="get" action="/b2c/comprar">
                        Cantidad<br>
                        <input type="number" name="cantidad" min="1" value="1"><br>
                        Precio [Origen precio: <%=@origenprecio22%>]<br>
                        <input type="number" value="<%=@preciofiltrado22%>"name="precio"  min="0" readonly>
                        Código promoción Instagram: [opcional]<br>
                        <input type="string" name="code">
                        Número de su cuenta bancaria<br>
                        <input type="string" name="cuenta">
                        
                        <input type="number" name="sku" value="22" style="visibility:hidden;">
                        <input type="submit" value="Comprar">
                      </form>
                    </div>
                  </div>
                  <!-- /.info -->
                </figcaption>
              </figure>
            </li>
            
            <li class="item thumb">
              <figure>
                <div class="icon-overlay icn-link">
                  <a href="#"><span class="icn-more"></span><%= image_tag('harina.jpg') %>
                </div>
                <!-- /.icon-overlay -->
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h2><a href="#">Harina</a></h2>
                    <div class="post-title" >
                      <form method="get" action="/b2c/comprar">
                        Cantidad<br>
                        <input type="number" name="cantidad" min="1" value="1"><br>
                        Precio [Origen precio: <%=@origenprecio23%>]<br>
                        <input type="number" value="<%=@preciofiltrado23%>"name="precio"  min="0" readonly>
                        Código promoción Instagram: [opcional]<br>
                        <input type="string" name="code">
                        Número de su cuenta bancaria<br>
                        <input type="string" name="cuenta">
                        <input type="number" name="sku" value="23" style="visibility:hidden;">
                        <input type="submit" value="Comprar">
                      </form>
                    </div>
                  </div>
                  <!-- /.info -->
                </figcaption>
              </figure>
            </li>
            
            <li class="item thumb">
              <figure>
                <div class="icon-overlay icn-link">
                  <a href="#"><span class="icn-more"></span><%= image_tag('seda.jpg') %>
                </div>
                <!-- /.icon-overlay -->
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h2><a href="#">Tela de Seda</a></h2>
                    <div class="post-title" >
                      <form method="get" action="/b2c/comprar">
                        Cantidad<br>
                        <input type="number" name="cantidad" min="1" value="1"><br>
                        Precio [Origen precio: <%=@origenprecio24%>]<br>
                        <input type="number" value="<%=@preciofiltrado24%>"name="precio"  min="0" readonly>
                        Código promoción Instagram: [opcional]<br>
                        <input type="string" name="code">
                        Número de su cuenta bancaria<br>
                        <input type="string" name="cuenta">
                        <input type="number" name="sku" value="24" style="visibility:hidden;">
                        <input type="submit" value="Comprar">
                      </form>
                    </div>
                  </div>
                  <!-- /.info -->
                </figcaption>
              </figure>
            </li>

      
      </ul>
      <!-- /.items -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div><!-- /.container -->
