<% if @success == "true"%>
	ID: <%=@bo.order_id%><br>
	SKU: <%=@bo.sku%><br>
	Precio Unitario: <%=@bo.precio_unitario%><%if @mensaje == "Precio promocional."%> [Precio Promoción]<%end%><br>
	Precio Final: <%=@bo.precio_unitario.to_i * @bo.cantidad.to_i%><br>
	Cantidad: <%=@bo.cantidad%><br>
	Canal: <%=@bo.canal%><br>
	Estado: <%=@bo.estado%><br>
	Mensaje: <%=@mensaje%><br>
<% elsif @success == "false"%>
<% else %>
	<%if @successtransfer == "false"%>
		TRANSFERENCIA NO PUDO SER EFECTUADA. 
	<% else %>
		TRANSFERENCIA EXITOSA, PERO DATOS ERRÓNEOS.

	<% end %>

<% end %>
<br>
Mensaje: <%=@message%>