.paddingvertical {
  padding-top: 10px !important;
  padding-bottom:10px !important;
}
.bordercircle{
  border-radius: 50% !important;
}
a.bordercircle{
  border-radius: 50% !important;
}
.verde{
  color: #94d600!important;
}

.circlefooter {
  height: 125px !important;
  overflow: hidden !important;
}

img.marginvertical{
  margin-top: 25px;
}

#marginbotton{
  margin-top:25px;
}

