<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% @factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_fact %><br>
    <%= f.text_field :id_fact %>
  </div>
  <div class="field">
    <%= f.label :fecha_creacion %><br>
    <%= f.date_select :fecha_creacion %>
  </div>
  <div class="field">
    <%= f.label :proveedor %><br>
    <%= f.text_field :proveedor %>
  </div>
  <div class="field">
    <%= f.label :cliente %><br>
    <%= f.text_field :cliente %>
  </div>
  <div class="field">
    <%= f.label :valor_bruto %><br>
    <%= f.text_field :valor_bruto %>
  </div>
  <div class="field">
    <%= f.label :iva %><br>
    <%= f.text_field :iva %>
  </div>
  <div class="field">
    <%= f.label :valor_total %><br>
    <%= f.text_field :valor_total %>
  </div>
  <div class="field">
    <%= f.label :estado_pago %><br>
    <%= f.text_field :estado_pago %>
  </div>
  <div class="field">
    <%= f.label :fecha_pago %><br>
    <%= f.date_select :fecha_pago %>
  </div>
  <div class="field">
    <%= f.label :motivo_rechazo %><br>
    <%= f.text_field :motivo_rechazo %>
  </div>
  <div class="field">
    <%= f.label :motivo_anulacion %><br>
    <%= f.text_field :motivo_anulacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
