<p id="notice"><%= notice %></p>

<h1>Listing Facturas</h1>

<table>
  <thead>
    <tr>
      <th>Id fact</th>
      <th>Fecha creacion</th>
      <th>Proveedor</th>
      <th>Cliente</th>
      <th>Valor bruto</th>
      <th>Iva</th>
      <th>Valor total</th>
      <th>Estado pago</th>
      <th>Fecha pago</th>
      <th>Motivo rechazo</th>
      <th>Motivo anulacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.id_fact %></td>
        <td><%= factura.fecha_creacion %></td>
        <td><%= factura.proveedor %></td>
        <td><%= factura.cliente %></td>
        <td><%= factura.valor_bruto %></td>
        <td><%= factura.iva %></td>
        <td><%= factura.valor_total %></td>
        <td><%= factura.estado_pago %></td>
        <td><%= factura.fecha_pago %></td>
        <td><%= factura.motivo_rechazo %></td>
        <td><%= factura.motivo_anulacion %></td>
        <td><%= link_to 'Show', factura %></td>
        <td><%= link_to 'Edit', edit_factura_path(factura) %></td>
        <td><%= link_to 'Destroy', factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factura', new_factura_path %>
