<p id="notice"><%= notice %></p>

<p>
  <strong>Id fact:</strong>
  <%= @factura.id_fact %>
</p>

<p>
  <strong>Fecha creacion:</strong>
  <%= @factura.fecha_creacion %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @factura.proveedor %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @factura.cliente %>
</p>

<p>
  <strong>Valor bruto:</strong>
  <%= @factura.valor_bruto %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @factura.iva %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= @factura.valor_total %>
</p>

<p>
  <strong>Estado pago:</strong>
  <%= @factura.estado_pago %>
</p>

<p>
  <strong>Fecha pago:</strong>
  <%= @factura.fecha_pago %>
</p>

<p>
  <strong>Motivo rechazo:</strong>
  <%= @factura.motivo_rechazo %>
</p>

<p>
  <strong>Motivo anulacion:</strong>
  <%= @factura.motivo_anulacion %>
</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
