<p id="notice"><%= notice %></p>

<h1>Listing Sftp Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sftp_orders.each do |sftp_order| %>
      <tr>
        <td><%= sftp_order.name %></td>
        <td><%= link_to 'Show', sftp_order %></td>
        <td><%= link_to 'Edit', edit_sftp_order_path(sftp_order) %></td>
        <td><%= link_to 'Destroy', sftp_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sftp order', new_sftp_order_path %>
