

.bases h1 {
	text-align: left;
    text-justify: inter-word;

}
.pdfembebed{
	width:66%; 
	
}

.frame_i{
	width:100%; 
	height:600px; 
	margin-top:50px; 

}

#inside_column1 {
position: absolute;
bottom: 30px;
top:50%;
margin-top:-150px;

}
.btn-bases {
color: white;
background-color: #fdd33a;
border-color: #fdd33a;
}
#parrafo_base {
margin-top: 10px;
width: 20%;
text-align: justify;
text-justify: inter-word;
}