
div.wrapper{display:block; width:100%; padding:0; text-align:left;}

.row2{color:#979797; background-color:#FFFFFF;}
.row2 a{color:#FF9900; background-color:#FFFFFF;}

.two_quarter{display:block; float:left; margin:0 20px 0 0;width:470px;}
/*----------------------------------------------Content Area-------------------------------------*/
#container{padding:30px 0;}
#container section{display:block; margin-bottom:30px; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}
/* ------Slider-----*/
#container #slider{width:100%;}
#container #slider figure{}
#container #slider figure img{float:right; width:630px; height:300px;}
#container #slider figure figcaption{display:block; float:left; width:290px; height:260px; padding:20px; overflow:hidden; color:#989898; background-color:#464646; line-height:1.6em;}
#container #slider figure figcaption a{color:#FF9900; background-color:#464646;}
#container #slider figure h2{font-size:42px; font-weight:normal; font-style:italic; text-transform:none;}
#container #slider figure footer{}
/* ------Main Content-----*/
#container #intro{width:100%; margin-bottom:60px; padding-bottom:20px; border-bottom:1px solid #D6D6D6;}
#container #intro section{width:100%;}
#container #intro section article{}
#container #intro section article h2{margin-bottom:15px;}
#container #intro section article p{}
#container #intro section article figure ul{display:block; width:100%; margin:0; padding:0; list-style:none;}
#container #intro section article figure ul li{display:inline-block; float:left; margin:0 25px 0 0;}
#container #intro section article figure ul li.last{margin:0;}
#container #intro section article figure ul li img{width:130px; height:130px; margin:0; padding:4px; border:1px solid #D6D6D6;}
#container #intro section article figure figcaption{display:block; width:100%; margin-top:20px; clear:both; text-align:center; text-transform:uppercase; font-weight:bold;}
