@import 'colores'
div.main-container
  width: 100vw
  height: auto
  background-color: $gris1
  z-index: 1

div.page-container
  width: 85vw
  height: auto
  min-height: 100vh
  margin: 0 auto
  background-color: $blanco
  margin-top: 64px
  padding: 20px 60px 0 60px



div.menu-container
  height: 60px
  width: 100%
  background-color: $blanco
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
  z-index: 4
  display : block
  position : fixed
  top: 0
  left: 0

i.title-icon
  color: $carrot

i.center-icon
  margin: 0 auto

.btn
  &:hover
    background-color: $carrot

div.centrado
  margin: 0 auto
