<p id="notice"><%= notice %></p>

<h1>Listing Precios</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>From</th>
      <th>To</th>
      <th>Channel</th>
      <th>Price</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @precios.each do |precio| %>
      <tr>
        <td><%= precio.sku %></td>
        <td><%= precio.from %></td>
        <td><%= precio.to %></td>
        <td><%= precio.channel %></td>
        <td><%= precio.price %></td>
        <td><%= precio.code %></td>
        <td><%= link_to 'Show', precio %></td>
        <td><%= link_to 'Edit', edit_precio_path(precio) %></td>
        <td><%= link_to 'Destroy', precio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Precio', new_precio_path %>
