<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @precio.sku %>
</p>

<p>
  <strong>From:</strong>
  <%= @precio.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @precio.to %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @precio.channel %>
</p>

<p>
  <strong>Price:</strong>
  <%= @precio.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @precio.code %>
</p>

<%= link_to 'Edit', edit_precio_path(@precio) %> |
<%= link_to 'Back', precios_path %>
