
<section id="standard-tabs-top">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center animated" style="opacity: 1;">
							<header>
								<h1>Estado de Bodega</h1>
								
							</header>
						</div><!-- /.col -->
					</div><!-- ./row -->
					
					<div class="row">
						<div class="col-xs-12 inner-top animated" style="opacity: 1;">
							<div class="tabs tabs-top tab-container" data-easytabs="true">
								
								
								
								<div class="panel-container">
									
									<div class="tab-content active" id="tab-1" style="display: block;">
										<div class="row">
											
											
											<div class="col-md-12 col-sm-12 inner-top-xs inner-left-xs animated" style="opacity: 1;">
												<table style="width:100%;">
													<tr>
														<th></th>
														<th>SKU 13</th>
														<th>SKU 19</th>
														<th>SKU 21</th>
														<th>SKU 22</th>
														<th>SKU 23</th>
														<th>SKU 24</th>
														
													</tr>
													<tr>
														<td>Bodega1:</td>
														<td><%=@b113%></td>
														<td><%=@b119%></td>
														<td><%=@b121%></td>
														<td><%=@b122%></td>
														<td><%=@b123%></td>
														<td><%=@b124%></td>
														
													</tr>
													<tr>
														<td>Bodega2:</td>
														<td><%=@b213%></td>
														<td><%=@b219%></td>
														<td><%=@b221%></td>
														<td><%=@b222%></td>
														<td><%=@b223%></td>
														<td><%=@b224%></td>
														
													</tr>
													<tr>
														<td>Despacho:</td>
														<td><%=@b313%></td>
														<td><%=@b319%></td>
														<td><%=@b321%></td>
														<td><%=@b322%></td>
														<td><%=@b323%></td>
														<td><%=@b324%></td>
														
													</tr>
													<tr>
														<td>Pulmón:</td>
														<td><%=@b413%></td>
														<td><%=@b419%></td>
														<td><%=@b421%></td>
														<td><%=@b422%></td>
														<td><%=@b423%></td>
														<td><%=@b424%></td>
														
													</tr>
													<tr>
														<td>Recepción:</td>
														<td><%=@b513%></td>
														<td><%=@b519%></td>
														<td><%=@b521%></td>
														<td><%=@b522%></td>
														<td><%=@b523%></td>
														<td><%=@b524%></td>
														
													</tr>
												</table>
											</div><!-- /.col -->
											
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									
									
									 
								</div><!-- /.panel-container -->
								 
							</div><!-- /.tabs -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>