<div>
Orden de compra:
<form action="/buy_orders_id" method="GET">
ID:<br>
<input type="text" name="orden">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
<br>
<hr>
<div>

<script>
$(document).ready(function(){
    $("form").show();
     
});

   
    


</script>