<div>
<div style="margin-top:60px">
      
      
	<div>
		<h1 align="center">Documentación Sistema B2B <small>Grupo 4</small></h1>
	</div>
	<p align="center">Aquí encontrarás la documentación detallada de nuestro sistema B2B. Nuestra documentación es distinta a la versión elaborada por el grupo 3 debido a que nuestra plataforma de desarrolla es Ruby on Rails. Es por esto que los parámetros de las consultas son iguales y las respuestas válidas también, pero los métodos y headers difieren.
	
	
	<div>
		<div>
			<h3>Crear Usuario</h3>
		</div>
		<div>
			<p><strong>Descripción:</strong> Permite crear un usuario para poder hacer uso de los servicios.</p>
			<p><strong>Method:</strong> <code>GET</code></p>
			<p><strong>Url:</strong> <code>/b2b/new_user.json</code></p>
			<p><strong>Parámetros:</strong>
			<code><br>
					username: (string), <br>
					password: (string)
			</code>
			</p>
			
			<p><strong>Respuesta:</strong></p>
			
			<p>En caso de éxito:</p>
			<pre><code>
				{
				    <span>"success"</span>: <span>"true"</span>,
				    <span>"message"</span>: <span>"Su usuario ha sido creado exitosamente."</span>,
				    <span>"token"</span>: <span>#token</span>
				}
			</code></pre>
			<p>Si faltan alguno de los parámetros:</p>
			<pre><code>

				{
				    <span>"username"</span>: <span>["can't be blank"]</span>,
				    <span>"password"</span>: <span>["can't be blank"]</span>
				}
			</span></span></code></pre>
			<p><strong>Ejemplo:</strong></p>
			<pre>				<code>
					REQUEST:
					GET /b2b/new_user.json?username=miusername&password=mipassword
					Host: http:<span>//<a href="http://integra4.ing.puc.cl" target="_blank">integra4.ing.puc.cl</a></span>
					
					{
						<span>"username"</span>: <span>"miusername"</span>,
						<span>"password"</span>: <span>"mipassword"</span>,
						
					}

					RESPO<span>NSE</span>:
					
					{
						<span>"success"</span>: <span>"true"</span>,
				    	        <span>"message"</span>: <span>"Su usuario ha sido creado exitosamente."</span>,
						<span>"token"</span>: <span><wbr>"489e20dfa5274807cd91241b194230<wbr>8730823c0a"</span>
					}
				</code>
			</pre>
		</div>
	</div>
	
	
	<div>
		<div>
			<h3>Autentificación</h3>
		</div>
		<div>
			<p>La Api cuenta con autentificación por Token, por lo que cada request debe llevar como parámetro adicional el token.</p>
			<p>Si el token no es provisto:</p>
			<pre><code>
				
				{
				    <span>"success:"</span>: <span>"false"</span>,
				    <span>"detail"</span>: <span>"Authentication credentials were not provided.."</span>
				}
			</span></span></code> </pre>
			
			<p>Si el token no es válido devuelve la siguiente respuesta:</p>
			<pre><code>
				
				{
				    <span>"success:"</span>: <span>"false"</span>,
				    <span>"detail"</span>: <span>"Invalid token."</span>
				}
			</span></span></code> </pre>
		</div>
	</div>

	
	<div>
		<div>
			<h3>Obtener Token</h3>
		</div>
		<div>
			<p><strong>Descripción:</strong> Permite obtener el token de un grupo determinado utilizando su nombre de usuario y contraseña.</p>
			<p><strong>Method:</strong> <code>GET</code></p>
			<p><strong>Url:</strong> <code>/b2b/get_token.json</code></p>
			
			<p><strong>Parámetros:</strong>
			<code><br>
					username: (string), <br>
					password: (string)<br>
			</code>
			</p>
			
			
			<p><strong>Respuesta:</strong></p>
			
			<p>En caso de éxito:</p>
			<pre><code>
				
				{
				    <span>"success:"</span>: <span>"true",</span>
				    <span>"token"</span>: <span>#token</span>
				}
			</code></pre>
			<p>Si faltan nombre de usuario:</p>
			<pre><code>
				{
				    <span>"success"</span>: <span>"false"</span>,
				    <span>"message"</span>: <span>"username no ingresada."</span>
				}
			</span></span></code></pre>
			<p>Si faltan contraseña:</p>
			<pre><code>
				{
				    <span>"success"</span>: <span>"false"</span>,
				    <span>"message"</span>: <span>"password no ingresada."</span>
				}
			</span></span></code></pre>
			<p>Contraseña incorrecta:</p>
			<pre><code>
				
				{
				    <span>"success"</span>: <span>"false"</span>,
				    <span>"message:"</span>: <span>"Contraseña inválida."</span>
				}
			</span></span></code></pre>
			<p>Usuario incorrecto:</p>
			<pre><code>
				
				{
				    <span>"success"</span>: <span>"false"</span>,
				    <span>"message:"</span>: <span>"Nombre de usuario inválido."</span>
				}
			</span></span></code></pre>
			<p><strong>Ejemplo:</strong></p>
			<pre>				<code>
					REQUEST:
					GET /b2b/get_token.json?username=miusername?password=mipassword
					Host: http:<span>//<a href="http://integra4.ing.puc.cl" target="_blank">integra4.ing.puc.cl</a></span>
					
					{
						<span>"username"</span>: <span>"miusername"</span>,
						<span>"password"</span>: <span>"mipassword"</span>,
						
					}

					RESPO<span>NSE</span>:
					
					{
						<span>"token"</span>: <span><wbr>"489e20dfa5274807cd91241b194230<wbr>8730823c0a"</span>
					}
				</code>
			</pre>
		</div>
	</div>

	
	<div>
		<div>
			<h3>Comprar Producto</h3>
		</div>
			<div>
				<p><strong>Descripción:</strong> Permite enviar una orden de compra de un producto determinado.</p>
				<p><strong>Method:</strong> <code>GET</code></p>
				<p><strong>Url:</strong> <code>/b2b/new_order.json</code></p>
				<p><strong>Parámetros:</strong><br>
				<code>
						order_id: (string), <br>
						destino_id: (string), <br>
						client: (int) (número de grupo), <br>
						provider: (int) (número de grupo),<br>
						sku: (int), <br>
						quantity: (int), <br>
						price: (int),<br>
						token: (int),<br>
						date_delivery: (string) [opcional]<br>
				</code>
				</p>
				
				
				<p><strong>Respuesta:</strong></p>
				<p>En caso de éxito:</p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>true</span>,
					    <span>"message"</span>: <span>"La orden de compra ha sido recibida exitosamente."</span>
					}
				</code></pre>
				<p>Si hay id duplicado:</p>
				<pre><code>
					
					{
					    <span>"order_id"</span>:
					    [
					        <span>"Has already been taken"</span>
					    ]
					}
				</code></pre>
				<p>Si hay faltan parámetros:</p>
				<pre><code>
					
					{
					    <span>"<"parametro:">"</span>:
					    [
					        <span>"can't be blank"</span>
					    ]
					}
				</code></pre>
				<p><strong>Ejemplo:</strong></p>
				<pre><code>
					REQUEST:
					GET /b2b/new_order.json?token=2105fe92e4037ed202b17b600bd57ea&provider=4&quantity=5&sku=19&order_id=frts345&client=1&price=23
					Host: http:<span>//<a href="http://integra4.ing.puc.cl" target="_blank">integra4.ing.puc.cl</a></span>
					
					{
						<span>"order_id"</span>: <span>"frts345"</span>,
						<span>"client"</span>: <span>1</span>,
						<span>"provider"</span>: <span>4</span>
						<span>"sku"</span>: <span>19</span>,
						<span>"date_delivery"</span>: <span>"05-21-2015"</span>,
						<span>"quantity"</span>: <span>5</span>,
						<span>"token"</span>: <span>"2105fe92e4037ed202b17b600bd57ea"</span>,
						<span>"price"</span>: <span>23</span>	
					}

					RESPO<span>NSE</span>:
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Orden de Compra creada exitosamente."</span>
					}
				</code></pre>
			</div>
		</div>

	
	<div>
		<div>
			<h3>Notificar Orden Aceptada</h3>
		</div>
			<div>
				<p><strong>Descripción:</strong> Permite notificar cuando una orden de compra fue aceptada.</p>
				<p><strong>Method:</strong> <code>GET</code></p>
				<p><strong>Url:</strong> <code>/b2b/order_accepted.json</code></p>
				
				<p><strong>Parámetros:</strong>
				<code><br>
						order_id: (string)<br>
						token: (string)<br> 
				</code>
				</p>
				
				
				<p><strong>Respuesta:</strong></p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Orden no existe."</span>
					}
				</code></pre>
				<p>Si la orden no existe:</p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"false"</span>,
					    <span>"message"</span>: <span>"Orden no existe."</span>
					}
				</code></pre>
				<p><strong>Ejemplo:</strong></p>
				<pre><code>
					REQUEST:
					GET /b2b/order_accepted.json?order_id=2222&token=2105fe92e4037ed202b17b600bd57ea
					Host: http:<span>//<a href="http://integra4.ing.puc.cl" target="_blank">integra4.ing.puc.cl</a></span>
					
					{
						<span>"order_id"</span>: <span>"2222"</span>	
						<span>"token"</span>: <span>"2105fe92e4037ed202b17b600bd57ea"</span>	
					}

					RESPO<span>NSE</span>:
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
			</div>
		</div>

		
	<div>
		<div>
			<h3>Notificar Orden Cancelada</h3>
		</div>
			<div>
				<p><strong>Descripción:</strong> Permite notificar cuando una orden de compra fue cancelada.</p>
				<p><strong>Method:</strong> <code>GET</code></p>
				<p><strong>Url:</strong> <code>/b2b/order_canceled.json</code></p>
				
				<p><strong>Parámetros:</strong>
				<code><br>
						order_id: (string)<br>
						token: (string)<br> 
				</code>
				</p>
				
				
				<p><strong>Respuesta:</strong></p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
				<p>Si la orden no existe:</p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"false"</span>,
					    <span>"message"</span>: <span>"Orden no existe."</span>
					}
				</code></pre>
				<p><strong>Ejemplo:</strong></p>
				<pre><code>
					REQUEST:
					GET /b2b/order_canceled.json?order_id=2222&token=2105fe92e4037ed202b17b600bd57ea
					Host: http:<span>//<a href="http://integra4.ing.puc.cl" target="_blank">integra4.ing.puc.cl</a></span>
					
					{
						<span>"order_id"</span>: <span>"2222"</span>	
						<span>"token"</span>: <span>"2105fe92e4037ed202b17b600bd57ea"</span>
					}

					RESPO<span>NSE</span>:
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
			</div>
		</div>
	
	
	<div>
		<div>
			<h3>Notificar Orden Rechazada</h3>
		</div>
			<div>
				<p><strong>Descripción:</strong> Permite notificar cuando una orden de compra fue rechazada.</p>
				<p><strong>Method:</strong> <code>GET</code></p>
				<p><strong>Url:</strong> <code>/b2b/order_rejected.json</code></p>
				
				<p><strong>Parámetros:</strong>
				<code><br>
						order_id: (string)<br>
						token: (string)<br> 
				</code>
				</p>
				
				
				<p><strong>Respuesta:</strong></p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
				<p>Si la orden no existe:</p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"false"</span>,
					    <span>"message"</span>: <span>"Orden no existe."</span>
					}
				</code></pre>
				<p><strong>Ejemplo:</strong></p>
				<pre><code>
					REQUEST:
					GET /b2b/order_rejected.json?order_id=222&token=2105fe92e4037ed202b17b600bd57ea
					Host: http:<span>//<a href="http://integra4.ing.puc.cl" target="_blank">integra4.ing.puc.cl</a></span>
					{
						<span>"order_id"</span>: <span>"2222"</span>	
						<span>"token"</span>: <span>"2105fe92e4037ed202b17b600bd57ea"</span>
					}

					RESPO<span>NSE</span>:
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
			</div>
		</div>


		
	<div>
		<div>
			<h3>Notificar Factura Creada</h3>
		</div>
			<div>
				<p><strong>Descripción:</strong> Permite notificar al grupo cuando una factura fue pagada.</p>
				<p><strong>Method:</strong> <code>GET</code></p>
				<p><strong>Url:</strong> <code>/b2b/invoice_created.json</code></p>
				
				<p><strong>Parámetros:</strong>
				<code><br>
						invoice_id: (string) <br>
						token: (string)<br>
				</code>
				</p>
				
				
				<p><strong>Respuesta:</strong></p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
				<p>Si no existe esa factura:</p>
				<pre><code>
								
					{
					    <span>"success"</span>: <span>"false"</span>,
					    <span>"message"</span>: <span>"No existe esta factura"</span>
					}
				</code></pre>
				<p><strong>Ejemplo:</strong></p>
				<pre><code>
					REQUEST:
					GET /b2b/invoice_created.json?invoice_id=45647df&token=2105fe92e4037ed202b17b600bd57ea
					Host: http:<span>//<a href="http://integra4.ing.puc.cl" target="_blank">integra4.ing.puc.cl</a></span>
					
					{
						<span>"invoice_id"</span>: <span>"45647df"</span>	
						<span>"token"</span>: <span>"2105fe92e4037ed202b17b600bd57ea"</span>
					}

					RESPO<span>NSE</span>:
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
			</div>
		</div>


		
	<div>
		<div>
			<h3>Notificar Factura Pagada</h3>
		</div>
			<div>
				<p><strong>Descripción:</strong> Permite notificar al grupo cuando una factura fue pagada.</p>
				<p><strong>Method:</strong> <code>GET</code></p>
				<p><strong>Url:</strong> <code>/b2b/invoice_paid.json</code></p>
				
				<p><strong>Parámetros:</strong>
				<code><br>
						invoice_id: (string) <br>
						token: (string)<br>
				</code>
				</p>
				
				
				<p><strong>Respuesta:</strong></p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
				<p>Si no existe la factura:</p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"false"</span>,
					    <span>"message"</span>: <span>"No existe esta factura"</span>
					}
				</code></pre>
				<p><strong>Ejemplo:</strong></p>
				<pre><code>
					REQUEST:
					GET /b2b/invoice_paid.json?invoice_id=45647df&token=2105fe92e4037ed202b17b600bd57ea
					Host: http:<span>//<a href="http://integra4.ing.puc.cl" target="_blank">integra4.ing.puc.cl</a></span>
					
					{
						<span>"invoice_id"</span>: <span>"45647df"</span>	
						<span>"token"</span>: <span>"2105fe92e4037ed202b17b600bd57ea"</span>
					}

					RESPO<span>NSE</span>:
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
			</div>
		</div>


		
	<div>
		<div>
			<h3>Notificar Factura Rechazada</h3>
		</div>
			<div>
				<p><strong>Descripción:</strong> Permite notificar al grupo cuando una factura fue pagada.</p>
				<p><strong>Method:</strong> <code>GET</code></p>
				<p><strong>Url:</strong> <code>/b2b/invoice_rejected.json</code></p>
				
				<p><strong>Parámetros:</strong>
				<code><br>
						invoice_id: (string) <br>
						token: (string)<br>
				</code>
				</p>
				
				
				<p><strong>Respuesta:</strong></p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
				<p>Si no existe la factura:</p>
				<pre><code>
					
					{
					    <span>"success"</span>: <span>"false"</span>,
					    <span>"message"</span>: <span>"No existe esta factura"</span>
					}
				</code></pre>
				<p><strong>Ejemplo:</strong></p>
				<pre><code>
					REQUEST:
					GET /b2b/invoice_rejected.json?invoice_id=45647df&token=2105fe92e4037ed202b17b600bd57ea
					Host: http:<span>//<a href="http://integra4.ing.puc.cl" target="_blank">integra4.ing.puc.cl</a></span>
					
					{
						<span>"invoice_id"</span>: <span>"45647df"</span>	
						<span>"token"</span>: <span>"2105fe92e4037ed202b17b600bd57ea"</span>
					}

					RESPO<span>NSE</span>:
					
					{
					    <span>"success"</span>: <span>"true"</span>,
					    <span>"message"</span>: <span>"Muchas gracias por avisar."</span>
					}
				</code></pre>
			</div>
		</div>
	
	Cualquier duda escriban a nschmidtg@gmail.com


	
</div>

