<h1>API GUI<h1>

  <h3>Click sobre las secciones</h3>
  
<div>
New User:
<form action="http://integra4.ing.puc.cl/b2b/new_user.json" method="GET">
Username:<br>
<input type="text" name="username">
<br>
Password:<br>
<input type="password" name="password">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
<br>
<hr>
<div>
Get Token:
<form action="http://integra4.ing.puc.cl/b2b/get_token.json" method="GET">
Username:<br>
<input type="text" name="username">
<br>
Password:<br>
<input type="password" name="password">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
<br>
<hr>
<div>
New Order:


<form action="http://integra4.ing.puc.cl/b2b/new_order.json" method="GET">
Order id:<br>
<input type="text" name="order_id">
<br>
Destino_id (bodega):<br>
<input type="text" name="destino_id">
<br>
Cliente:<br>
<input type="number" name="client">
<br>
Proveedor (numero grupo):<br>
<input type="number" name="provider">
<br>
Sku:<br>
<input type="number" name="sku">
<br>
Cantidad:<br>
<input type="number" name="quantity">
<br>
Precio:<br>
<input type="number" name="price">
<br>
Token:<br>
<input type="password" name="token">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
<hr>
<br>
<div>
Rechazar orden:
<form action="http://integra4.ing.puc.cl/b2b/order_rejected.json" method="GET">
Order id:<br>
<input type="text" name="order_id">
<br>

Token:<br>
<input type="password" name="token">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
<hr>
<br>
<div>
Cancelar orden:
<form action="http://integra4.ing.puc.cl/b2b/order_canceled.json" method="GET">
Order id:<br>
<input type="text" name="order_id">
<br>

Token:<br>
<input type="password" name="token">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
<hr>
<br>
<div>
Aceptar orden:
<form action="http://integra4.ing.puc.cl/b2b/order_accepted.json" method="GET">
Order id:<br>
<input type="text" name="order_id">
<br>

Token:<br>
<input type="password" name="token">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
<hr>
<br>
<div>
Factura creada:
<form action="http://integra4.ing.puc.cl/b2b/invoice_created.json" method="GET">
Order id:<br>
<input type="text" name="invoice_id">
<br>

Token:<br>
<input type="password" name="token">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
<hr>
<br>
<div>
Factura rechazada:
<form action="http://integra4.ing.puc.cl/b2b/invoice_rejected.json" method="GET">
Order id:<br>
<input type="text" name="invoice_id">
<br>

Token:<br>
<input type="password" name="token">
<br><br>
<input type="submit" value="Submit">
</form>
</div>
<hr>
<br>
<div>
Factura pagada:

<form action="http://integra4.ing.puc.cl/b2b/invoice_paid.json" method="GET">
Order id:<br>
<input type="text" name="invoice_id">
<br>

Token:<br>
<input type="password" name="token">
<br><br>
<input type="submit" value="Submit">
</form>
</div>

<script>
$(document).ready(function(){
    $("form").hide();
     $("div").click(function(){
      $(this).children().show();
    });
});

   
    


</script>