<!DOCTYPE html>
<html>
<head>
  <title>Integracion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="blog" class="light-bg">
				<div class="container inner-top-sm inner-bottom">
					<h1 style="text-align:center;">Grupo 4</h1>
<div class="row inner-bottom-xs">
						<div class="col-sm-12 animated" style="opacity: 1;">	
							<ul class="format-filter text-center">
								<li><a class="active" href="http://tarucalab.com/nschmidtg/Taller" data-filter="*" title="" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="All">BPMN</a></li>
								<li><%=link_to("GUI API",gui_path)%></li>
								<li><%=link_to("GUI OC",consulta_path)%></li>
								<li><%=link_to("Documentación",documentation_path)%></li>
								<li><%=link_to("B2c",carro_path)%></li>
								<li><%=link_to("Bodega",bodega_path)%></li>
							</ul><!-- /.format-filter -->
						</div><!-- /.col -->
					</div><!-- /.row -->
<%= yield %>
</div><!-- /.container -->
			</section>
</body>
</html>
